.layout {
    display: grid;
    grid-template-rows: 50px 50px auto 5%;
    grid-template-columns: 1fr 1fr;

    min-block-size: 100vh;
    min-block-size: 100dvh;

    grid-template-areas:
        "header header"
        "filter filter"
        "images text"
        "footer footer";
}

.header {
    grid-area: header;
}

.filter {
    grid-area: filter;
}
.images {
    grid-area: images;
}

.text {
    grid-area: text;
}

.footer {
    grid-area: footer;
}