<div class="layout"> <!-- TODO: use display: grid? -->
    <div class="header">Header</div>
    <div class="filter flex items-center basis-full">
        <app-page-selector [pageIds]="pageIds()"
                           [(page)]="pageId" />
        <app-words-filter (filterChange)="filterService.currentFilter.set($event)" />

    </div>
    <app-osd class="images"
             [page]="pageNumber()"
             (pageChange)="pageId.set(pageIds()[$event])"
             [localImages]="localImages"
             sourceType="local">
    </app-osd>

    <!-- @if (page() !== undefined) { -->
    <app-page class="text"
              [page]="page()" />
    <!-- } -->
    <div class="footer">Footer</div>
</div>